<div class="row user">
  <div class="user-left">
    <div class="user-icon">
      <%= image_tag @user.icon, size: 150, class: "img-circle" %>
    </div>
    
  </div>
  <div class="user-right">
    <div class="use">
      <span class="user-name"><%= @user.name %></span>
      <span class="user-id">@<%= @user.user_id %></span>
      <span class="pull-right">
        <% if current_user == @user %>
          <%= link_to "プロフィールを編集", edit_user_path(@user), class: "edit-profile-btn" %>
        <% else %>
          <%= render "relationships/follow_button", user: @user, class: "follow-btn" %>
        <% end %>
      </span>
    </div>
    <div class="user-prof">
      <%= @user.profile %>
    </div>
    <div class="user-link">
      <% if @user.twitter != "" %><%= link_to image_tag('sns/twitter.png', size: 20), @user.twitter %><% end %>
      <% if @user.facebook != "" %><%= link_to image_tag('sns/facebook.png', size: 20), @user.facebook %><% end %>
      <% if @user.instagram != "" %><%= link_to image_tag('sns/instagram.png', size: 20), @user.instagram %><% end %>
      <% if @user.linkedin != "" %><%= link_to image_tag('sns/linkedin.png', size: 20), @user.linkedin %><% end %>
      <% if @user.otherlinka != "" %><%= link_to image_tag('sns/link.png', size: 20) + @user.otherlinka, @user.otherlinka %><% end %>
      <% if @user.otherlinkb != "" %><%= link_to image_tag('sns/link.png', size: 20) + @user.otherlinkb, @user.otherlinkb %><% end %>
    </div>
  </div>
  <div class="flex-container">
    <div class="counter-box">
      <div class="counter-text">
        フォロー
      </div>
      <div class="counter">
        <%= @user.followings.count + @user.following_groups.count + @user.following_companies.count %>
      </div>
    </div>
    <div class="counter-box">
      <div class="counter-text">
        フォロワー
      </div>
      <div class="counter">
        <%= @user.followers.count %>
      </div>
    </div>
    <div class="counter-box">
      <div class="counter-text">
        グループ
      </div>
      <div class="counter">
        <%= @user.member_groups.count %>
      </div>
    </div>
    <div class="counter-box">
      <div class="counter-text">
        投稿
      </div>
      <div class="counter">
        <%= @user.posts.count %>
      </div>
    </div>
    <div class="counter-box">
      <div class="counter-text">
        主催
      </div>
      <div class="counter">
        <%= @user.events.count %>
      </div>
    </div>
    <div class="counter-box">
      <div class="counter-text">
        参加
      </div>
      <div class="counter">
        <%= @user.join_events.count %>
      </div>
    </div>
  </div>
</div>

<div>
  <%= render "tabs" %>
</div>