<div class="row user">
  <div class="user-left">
    <div class="user-icon">
      <%= image_tag @company.icon, size: 150, class: "img-circle" %>
    </div>
  </div>
  
  <div class="user-right">
    <div class="use">
      <span class="user-name"><%= @company.name %></span>
      <span class="pull-right flex-container">
        <%= render "companyrelationships/follow_button", company: @company, class: "follow-btn" %>
        <% if @member_users.include?(current_user) %>
          <%= link_to "プロフィールを編集", edit_company_path(@company), class: "edit-profile-btn" %>
        <% end %>
      </span>
    </div>
    <div class="user-prof">
      <%= @company.profile %>
    </div>
    <div class="user-link">
      <% if @company.twitter != "" %><%= link_to image_tag('sns/twitter.png', size: 20), @company.twitter %><% end %>
      <% if @company.facebook != "" %><%= link_to image_tag('sns/facebook.png', size: 20), @company.facebook %><% end %>
      <% if @company.officiallink != "" %><%= link_to image_tag('sns/link.png', size: 20) + @company.officiallink, @company.officiallink %><% end %>
    </div>
  </div>
  <div class="flex-container">
    <div class="counter-box">
      <div class="counter-text">
        フォロワー
      </div>
      <div class="counter">
        <%= @company.company_followers.count %>
      </div>
    </div>
    <div class="counter-box">
      <div class="counter-text">
        メンバー
      </div>
      <div class="counter">
        <%= @company.member_users.count %>
      </div>
    </div>
    <div class="counter-box">
      <div class="counter-text">
        投稿
      </div>
      <div class="counter">
        <%= @company.posts.count %>
      </div>
    </div>
    <div class="counter-box">
      <div class="counter-text">
        イベント
      </div>
      <div class="counter">
        <%= @company.events.count %>
      </div>
    </div>
    <div class="counter-box">
      <div class="counter-text">
        掲示板
      </div>
      <div class="counter">
        <%= @company.reviews.count %>
      </div>
    </div>
  </div>
</div>

<div>
  <%= render "tabs" %>
</div>